body{
    align-items: center;
    text-align: center;
}
.container{
    padding: auto;
    margin: auto;
    width: 80%;
    max-width: 600%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-pic{
    display: block;
    width: 300px;
    height: 400px;
    margin: 20px auto;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.profile-pic:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}
@media (max-width: 768px)
{
    .container{
        width: 95%;
        padding: 10px;
    }
}
.content ul{
list-style-type: none;
padding: 0;
margin: 20px 0;
}
.content{
    margin: 10px 0;
    color: black;
    font-size: medium;
}
.content h2{
    font-size: medium;
}
